<?xml version="1.0" ?>
<DOMAIN_OPTION Description="Wing FTP Server Domain settings">
    <Domain_Max_Session>0</Domain_Max_Session>
    <Domain_Per_Ip_Max_Session>0</Domain_Per_Ip_Max_Session>
    <Per_Session_Max_Download_Speed>0</Per_Session_Max_Download_Speed>
    <Per_Session_Max_Upload_Speed>0</Per_Session_Max_Upload_Speed>
    <Domain_Max_Download_Speed>0</Domain_Max_Download_Speed>
    <Domain_Max_Upload_Speed>0</Domain_Max_Upload_Speed>
    <Per_User_Max_Download_Speed>0</Per_User_Max_Download_Speed>
    <Per_User_Max_Upload_Speed>0</Per_User_Max_Upload_Speed>
    <Passive_Type>0</Passive_Type>
    <Pasv_Ip_Refresh_Interval>60</Pasv_Ip_Refresh_Interval>
    <Fixed_Ip></Fixed_Ip>
    <Web_Ip>http://ip.wftpserver.com/w/getIP.php</Web_Ip>
    <DNS_Ip></DNS_Ip>
    <Enable_UPnP_For_Passive_Ports>0</Enable_UPnP_For_Passive_Ports>
    <Min_Passive_Port>1024</Min_Passive_Port>
    <Max_Passive_Port>1124</Max_Passive_Port>
    <Transfer_Buffer_Size>65535</Transfer_Buffer_Size>
    <Userdata_Access_Style>1</Userdata_Access_Style>
    <MYSQL_Address>localhost</MYSQL_Address>
    <MYSQL_Port>3306</MYSQL_Port>
    <MYSQL_Username>root</MYSQL_Username>
    <MYSQL_Password></MYSQL_Password>
    <MYSQL_DatabaseName>wftp_database</MYSQL_DatabaseName>
    <MYSQL_UnixSocket></MYSQL_UnixSocket>
    <ODBC_DSN_Address></ODBC_DSN_Address>
    <ODBC_DSN_Username></ODBC_DSN_Username>
    <ODBC_DSN_Password></ODBC_DSN_Password>
    <Enable_Mode_Z_support>0</Enable_Mode_Z_support>
    <Default_Compression_level>8</Default_Compression_level>
    <Min_Compression_level>1</Min_Compression_level>
    <Max_Compression_level>9</Max_Compression_level>
    <Enable_SFV_Check>0</Enable_SFV_Check>
    <SFV_Check_Create_Missing>0</SFV_Check_Create_Missing>
    <SFV_Check_Bad_File>0</SFV_Check_Bad_File>
    <SFV_Check_Create_Progress>0</SFV_Check_Create_Progress>
    <SFV_Check_Send_Result>0</SFV_Check_Send_Result>
    <Anti_Hammer_Enable>1</Anti_Hammer_Enable>
    <Anti_Hammer_Block_Time>180</Anti_Hammer_Block_Time>
    <Anti_Hammer_Login_Failed_Counts>5</Anti_Hammer_Login_Failed_Counts>
    <Anti_Hammer_Interval>90</Anti_Hammer_Interval>
    <Anti_Hammer_Send_Message>0</Anti_Hammer_Send_Message>
    <SSL_Name>wftp_default_ssl</SSL_Name>
    <SSH_Name>wftp_default_ssh</SSH_Name>
    <SSH_Use_UTF8>1</SSH_Use_UTF8>
    <SMTP_Name></SMTP_Name>
    <Enable_FXP>0</Enable_FXP>
    <Enable_WebLink>0</Enable_WebLink>
    <Enable_Logfile>1</Enable_Logfile>
    <Logfile_Name>%Y-%M-%D.log</Logfile_Name>
    <Logfile_Maxsize>512000</Logfile_Maxsize>
    <Message_Log_File_Enable>1</Message_Log_File_Enable>
    <Message_Log_Scrn_Enable>1</Message_Log_Scrn_Enable>
    <Security_Log_File_Enable>1</Security_Log_File_Enable>
    <Security_Log_Scrn_Enable>1</Security_Log_Scrn_Enable>
    <FTP_Command_Log_File_Enable>1</FTP_Command_Log_File_Enable>
    <FTP_Command_Log_Scrn_Enable>1</FTP_Command_Log_Scrn_Enable>
    <FTP_Response_Log_File_Enable>1</FTP_Response_Log_File_Enable>
    <FTP_Response_Log_Scrn_Enable>1</FTP_Response_Log_Scrn_Enable>
    <WEB_Command_Log_File_Enable>1</WEB_Command_Log_File_Enable>
    <WEB_Command_Log_Scrn_Enable>1</WEB_Command_Log_Scrn_Enable>
    <WEB_Response_Log_File_Enable>1</WEB_Response_Log_File_Enable>
    <WEB_Response_Log_Scrn_Enable>1</WEB_Response_Log_Scrn_Enable>
    <SSH_Command_Log_File_Enable>1</SSH_Command_Log_File_Enable>
    <SSH_Command_Log_Scrn_Enable>1</SSH_Command_Log_Scrn_Enable>
    <SSH_Response_Log_File_Enable>1</SSH_Response_Log_File_Enable>
    <SSH_Response_Log_Scrn_Enable>1</SSH_Response_Log_Scrn_Enable>
    <ODBC_Error_Log_File_Enable>1</ODBC_Error_Log_File_Enable>
    <ODBC_Error_Log_Scrn_Enable>1</ODBC_Error_Log_Scrn_Enable>
    <MYSQL_Error_Log_File_Enable>1</MYSQL_Error_Log_File_Enable>
    <MYSQL_Error_Log_Scrn_Enable>1</MYSQL_Error_Log_Scrn_Enable>
    <LUA_Error_Log_File_Enable>1</LUA_Error_Log_File_Enable>
    <LUA_Error_Log_Scrn_Enable>1</LUA_Error_Log_Scrn_Enable>
    <Mail_Error_Log_File_Enable>1</Mail_Error_Log_File_Enable>
    <Mail_Error_Log_Scrn_Enable>1</Mail_Error_Log_Scrn_Enable>
    <File_Error_Log_File_Enable>1</File_Error_Log_File_Enable>
    <File_Error_Log_Scrn_Enable>1</File_Error_Log_Scrn_Enable>
    <Normal_Error_Log_File_Enable>1</Normal_Error_Log_File_Enable>
    <Normal_Error_Log_Scrn_Enable>1</Normal_Error_Log_Scrn_Enable>
    <Message_Welcome>%ServerName ready...</Message_Welcome>
    <Message_Login>User %Name logged in.</Message_Login>
    <Message_Change_Dir>CWD command ok. &quot;%Dir&quot; is current directory.</Message_Change_Dir>
    <Message_Dir_List>Transfer ok.</Message_Dir_List>
    <Message_File_Upload>File received ok. Transferred:%ConTransferBytes;Average speed is:%ConTransferSpeedKBS</Message_File_Upload>
    <Message_File_Download>File sent ok. Transferred:%ConTransferBytes;Average speed is:%ConTransferSpeedKBS</Message_File_Download>
    <Message_System_Command>UNIX Type: L8</Message_System_Command>
    <Message_Quit_Command>Goodbye.</Message_Quit_Command>
    <Enable_UPnP_For_Listener_Ports>0</Enable_UPnP_For_Listener_Ports>
    <Max_Number_Sessions_Per_User_Account>0</Max_Number_Sessions_Per_User_Account>
    <Max_Sessions_Per_Ip_For_User_Account>0</Max_Sessions_Per_Ip_For_User_Account>
    <Command_Timeout_Min>5</Command_Timeout_Min>
    <Enable_Domain_Logo>0</Enable_Domain_Logo>
    <Transfer_Timeout_Minutes>5</Transfer_Timeout_Minutes>
    <ADUser_Enable>0</ADUser_Enable>
    <ADUser_Domain></ADUser_Domain>
    <ADUser_Directory></ADUser_Directory>
    <ADUser_Enable_OwnDir>0</ADUser_Enable_OwnDir>
    <ADUser_Enable_FileRead>1</ADUser_Enable_FileRead>
    <ADUser_Enable_FileWrite>0</ADUser_Enable_FileWrite>
    <ADUser_Enable_FileAppend>0</ADUser_Enable_FileAppend>
    <ADUser_Enable_FileDelete>0</ADUser_Enable_FileDelete>
    <ADUser_Enable_DirRename>0</ADUser_Enable_DirRename>
    <ADUser_Enable_DirList>1</ADUser_Enable_DirList>
    <ADUser_Enable_DirCreate>0</ADUser_Enable_DirCreate>
    <ADUser_Enable_DirDelete>0</ADUser_Enable_DirDelete>
    <ADUser_Enable_FileRename>0</ADUser_Enable_FileRename>
    <ADUser_Enable_ZipFile>0</ADUser_Enable_ZipFile>
    <ADUser_Enable_UnzipFile>0</ADUser_Enable_UnzipFile>
    <ADUser_User_Mapping>ADUser001:LocalUser001&#x0A;ADUser002:LocalUser002</ADUser_User_Mapping>
    <LDAP_Enable>0</LDAP_Enable>
    <LDAP_Host>localhost</LDAP_Host>
    <LDAP_Port>389</LDAP_Port>
    <LDAP_UseSSL>0</LDAP_UseSSL>
    <LDAP_BindDN></LDAP_BindDN>
    <LDAP_BindPass></LDAP_BindPass>
    <LDAP_BaseDN></LDAP_BaseDN>
    <LDAP_Filter>(&amp;(objectClass=posixAccount)(uid=%s))</LDAP_Filter>
    <LDAP_Directory></LDAP_Directory>
    <LDAP_Enable_OwnDir>0</LDAP_Enable_OwnDir>
    <LDAP_Enable_FileRead>1</LDAP_Enable_FileRead>
    <LDAP_Enable_FileWrite>0</LDAP_Enable_FileWrite>
    <LDAP_Enable_FileAppend>0</LDAP_Enable_FileAppend>
    <LDAP_Enable_FileDelete>0</LDAP_Enable_FileDelete>
    <LDAP_Enable_DirRename>0</LDAP_Enable_DirRename>
    <LDAP_Enable_DirList>1</LDAP_Enable_DirList>
    <LDAP_Enable_DirCreate>0</LDAP_Enable_DirCreate>
    <LDAP_Enable_DirDelete>0</LDAP_Enable_DirDelete>
    <LDAP_Enable_FileRename>0</LDAP_Enable_FileRename>
    <LDAP_Enable_ZipFile>0</LDAP_Enable_ZipFile>
    <LDAP_Enable_UnzipFile>0</LDAP_Enable_UnzipFile>
    <LDAP_User_Mapping>LDAPUser001:LocalUser001&#x0A;LDAPUser002:LocalUser002</LDAP_User_Mapping>
    <LDAP_Group_Mapping>CN=ADGroup1,CN=Builtin,DC=wftpserver,DC=com:LocalUser1&#x0A;CN=ADGroup2,CN=Builtin,DC=wftpserver,DC=com:LocalUser2</LDAP_Group_Mapping>
    <LDAP_Version>3</LDAP_Version>
    <LDAP_Dir_Lowercase>0</LDAP_Dir_Lowercase>
    <WebLink_Speed>0</WebLink_Speed>
    <LIST_TIME_GMT>1</LIST_TIME_GMT>
    <Logfile_Compress>1</Logfile_Compress>
    <Enable_UTF8_ON>1</Enable_UTF8_ON>
    <Enable_AUTH_ON>1</Enable_AUTH_ON>
    <Use_LANIP_For_LAN_Client_Passive>1</Use_LANIP_For_LAN_Client_Passive>
    <Min_Password_Length>0</Min_Password_Length>
    <Password_Have_Numerals>0</Password_Have_Numerals>
    <Password_Have_Lowercase>0</Password_Have_Lowercase>
    <Password_Have_Uppercase>0</Password_Have_Uppercase>
    <Password_Have_Nonalphanumeric>0</Password_Have_Nonalphanumeric>
    <Enable_NTFS_Permission>0</Enable_NTFS_Permission>
    <EnableSHA256>1</EnableSHA256>
    <Enable_HTTPS_Redirect>0</Enable_HTTPS_Redirect>
    <HTTPS_Redirect_Port>443</HTTPS_Redirect_Port>
    <Change_Password_Firstlogon>0</Change_Password_Firstlogon>
    <Enable_UploadLink>0</Enable_UploadLink>
    <UploadLink_Speed>0</UploadLink_Speed>
    <Additional_HTTP_Headers></Additional_HTTP_Headers>
    <Allow_Passive_Active_Mode>1</Allow_Passive_Active_Mode>
    <Passive_Listener_Timeout>30</Passive_Listener_Timeout>
    <Auto_Passive_Port_Forward>0</Auto_Passive_Port_Forward>
    <MYSQL_Set_UTF8>1</MYSQL_Set_UTF8>
    <Enable_Domain>1</Enable_Domain>
    <Auto_Active_Port_Forward>0</Auto_Active_Port_Forward>
    <Weblink_URL></Weblink_URL>
    <Enable_Symbolic_Link>0</Enable_Symbolic_Link>
    <Enable_Welcome_Message>0</Enable_Welcome_Message>
    <Welcome_Message></Welcome_Message>
    <Keep_Old_Weblink>0</Keep_Old_Weblink>
    <Uplink_Overwrite_File>0</Uplink_Overwrite_File>
    <SSH_Banner>WingFTPServer</SSH_Banner>
    <HTTP_KeepAlive>1</HTTP_KeepAlive>
    <Enable_Weblink_Subfolder>0</Enable_Weblink_Subfolder>
    <TLS_Session_Timeout>3600</TLS_Session_Timeout>
    <EnablePasswordSalting>1</EnablePasswordSalting>
    <SaltingString>WingFTP</SaltingString>
    <Enable_Log_Millisecond>0</Enable_Log_Millisecond>
    <LDAP_Mapping_CaseInsensitive>0</LDAP_Mapping_CaseInsensitive>
    <LDAP_Timeout>10</LDAP_Timeout>
    <Transfer_Limit>
        <Transfer_Limit_Enable>0</Transfer_Limit_Enable>
        <Transfer_Limit_Reset>0</Transfer_Limit_Reset>
        <Transfer_Limit_Reset_Time>0</Transfer_Limit_Reset_Time>
        <Enable_Upload_Limit_Never>0</Enable_Upload_Limit_Never>
        <Current_Upload_Size_Never>0</Current_Upload_Size_Never>
        <Max_Upload_Size_Never>0</Max_Upload_Size_Never>
        <Enable_Download_Limit_Never>0</Enable_Download_Limit_Never>
        <Current_Download_Size_Never>0</Current_Download_Size_Never>
        <Max_Download_Size_Never>0</Max_Download_Size_Never>
        <Enable_Upload_Limit_Hourly>0</Enable_Upload_Limit_Hourly>
        <Current_Upload_Size_Hourly>0</Current_Upload_Size_Hourly>
        <Max_Upload_Size_Hourly>0</Max_Upload_Size_Hourly>
        <Enable_Download_Limit_Hourly>0</Enable_Download_Limit_Hourly>
        <Current_Download_Size_Hourly>0</Current_Download_Size_Hourly>
        <Max_Download_Size_Hourly>0</Max_Download_Size_Hourly>
        <Enable_Upload_Limit_Daily>0</Enable_Upload_Limit_Daily>
        <Current_Upload_Size_Daily>0</Current_Upload_Size_Daily>
        <Max_Upload_Size_Daily>0</Max_Upload_Size_Daily>
        <Enable_Download_Limit_Daily>0</Enable_Download_Limit_Daily>
        <Current_Download_Size_Daily>0</Current_Download_Size_Daily>
        <Max_Download_Size_Daily>0</Max_Download_Size_Daily>
        <Enable_Upload_Limit_Weekly>0</Enable_Upload_Limit_Weekly>
        <Current_Upload_Size_Weekly>0</Current_Upload_Size_Weekly>
        <Max_Upload_Size_Weekly>0</Max_Upload_Size_Weekly>
        <Enable_Download_Limit_Weekly>0</Enable_Download_Limit_Weekly>
        <Current_Download_Size_Weekly>0</Current_Download_Size_Weekly>
        <Max_Download_Size_Weekly>0</Max_Download_Size_Weekly>
        <Enable_Upload_Limit_Monthly>0</Enable_Upload_Limit_Monthly>
        <Current_Upload_Size_Monthly>0</Current_Upload_Size_Monthly>
        <Max_Upload_Size_Monthly>0</Max_Upload_Size_Monthly>
        <Enable_Download_Limit_Monthly>0</Enable_Download_Limit_Monthly>
        <Current_Download_Size_Monthly>0</Current_Download_Size_Monthly>
        <Max_Download_Size_Monthly>0</Max_Download_Size_Monthly>
    </Transfer_Limit>
</DOMAIN_OPTION>
