body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

img {
    max-height: 15vh; 
    height: auto;
    width: auto;
    background: white;
}
